<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>FirstServlet2</servlet-name>
        <servlet-class>com.kogent.FirstServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowParameters</servlet-name>
        <servlet-class>com.kogent.ShowParameters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Link</servlet-name>
        <servlet-class>com.kogent.Link</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowHeaders</servlet-name>
        <servlet-class>com.kogent.ShowHeaders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet2Servlet</servlet-name>
        <servlet-class>com.kogent.Servlet2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet2Servlet2</servlet-name>
        <servlet-class>com.kogent.Servlet2Servlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MySessionServlet</servlet-name>
        <servlet-class>MySessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>CookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TokenServlet</servlet-name>
        <servlet-class>TokenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackSessionLifeCycle</servlet-name>
        <servlet-class>TrackSessionLifeCycle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MySessionTrackerServlet</servlet-name>
        <servlet-class>MySessionTrackerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowStudent</servlet-name>
        <servlet-class>stservlets.ShowStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validatelogin</servlet-name>
        <servlet-class>myservlets.validatelogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatepassword</servlet-name>
        <servlet-class>myservlets.updatepassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstServlet2</servlet-name>
        <url-pattern>/FirstServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowParameters</servlet-name>
        <url-pattern>/ShowParameters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Link</servlet-name>
        <url-pattern>/Link</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowHeaders</servlet-name>
        <url-pattern>/ShowHeaders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet2Servlet</servlet-name>
        <url-pattern>/Servlet2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet2Servlet2</servlet-name>
        <url-pattern>/Servlet2Servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MySessionServlet</servlet-name>
        <url-pattern>/MySessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/CookieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TokenServlet</servlet-name>
        <url-pattern>/TokenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackSessionLifeCycle</servlet-name>
        <url-pattern>/TrackSessionLifeCycle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MySessionTrackerServlet</servlet-name>
        <url-pattern>/MySessionTrackerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowStudent</servlet-name>
        <url-pattern>/ShowStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validatelogin</servlet-name>
        <url-pattern>/validatelogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatepassword</servlet-name>
        <url-pattern>/updatepassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
